<% if @user %>
	<%= @user.name %>'s Posts 
		<% if @user == current_user %>
			| <%= link_to "Edit account", edit_user_registration_path, id: "edit_account" %>
		<% end %>
	
		<div class="userinfo">
			Link Score: <%= @user.score %></br>
			Account Age: <%= time_ago_in_words(@user.created_at) %></br>
			
		</div>
	</br>
		<div class="posts">
			<% @user.links.each do |link| %>
				</br><div class="post"><%= link_to link.title, "http://#{link.url}", class: "link_title" %></br>
					 <%= link_to "Comments (#{link.comments.size})", link %>
					<% if @user == current_user %>
						| <%= link_to 'Edit Link', edit_link_path(link) %> |
						<%= link_to 'Delete', link, method: :delete, data: { confirm: "You sure?" } %>
					<% end %>
				</div>
			<% end %>
		</div>
	

<% else %>
	<span id="no_user">User does not exist</span>
<% end %>