<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>
<% if @link.user == current_user %>
	<%= link_to 'Edit', edit_link_path(@link) %>
	<%= link_to 'Delete', @link, method: :delete,
								data: { confirm: "You sure?"} %>
<% end %>
<h3 class="comments_title">
	<%= pluralize @link.comments.count, "Comment" %>
</h3>

<div id="comments">
	<%= render partial: @link.comments %>
</div>

<%= simple_form_for [@link, Comment.new] do |f| %>
	<%= f.text_area :body %>
	<%= f.submit "Add Comment" %>
<% end %>

<%= link_to 'Back', links_path %>
