<p id="notice"><%= notice %></p>
<% if flash[:error] %>
	
	<%# add css styling to error id %>
	<p id="error"><%= flash[:error] %><p>

<% end %>
<p> Subreddit: <%= link_to Subreddit, subreddit_path(@link.subreddit_id) %> </p>
<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>
<p>
	<%= link_to @link.user.name, user_path(@user) %>
</p>
<% if @link.user == current_user %>
	<%= link_to 'Edit', edit_subreddit_link_path(@subreddit, @link) %> | 
	<%= link_to 'Delete', [@subreddit, @link], method: :delete,
								data: { confirm: "You sure?"} %>
<% end %>
<h5 class="comments_title">
	<%= pluralize @link.comments.count, "Comment" %>
</h5>

<div id="comments">
	<%= render "comments/comment" %>
</div>

<%= simple_form_for [@subreddit, @link, @comment] do |f| %>
	<%= f.text_area :body %>
	<%= f.submit "Add Comment" %>
<% end %>

<%= link_to 'Back', subreddit_links_path %>

<%= @link.inspect %> </br>
<%= params[:id] %>
